html,body{
    background-color: #000000;
    color: white;
    font-family: "Staatliches", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

header form{
    display: flex;
    height: 50px;
    align-items: stretch;
}

header form input{
    flex-grow: 1;
}

header form button{
    background: black;
    color: pink;
    width: 100px;
    margin-left: 10px;
}

.planets-detail{
    margin: auto;
    max-width: 700px;
}

.input-container {
    margin-bottom: 20px;
    font-size: 1.25em;
}


.input-container p,
.input-container label{
    display: block;
    font-size: 1.25em;
}

.input-container input,
.input-container textarea{
    width: 100%;
    font-size: 1.2em;
    color: gray;
    padding: 10px;
    outline: none;
}

.input-container .label-inline{
    display: inline;
}

.input-container select{
    font-size: 1.25em;
}
.input-container input[type="checkbox"],
.input-container input[type="radio"]{
    width: initial;
}

.input-container textarea{
    height: 100px;
}

.input-container textarea:focus,
.input-container input:focus{
    border: 3px solid orange;
}

.input-container label::before{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: blue;
}
.planets a{
    color: white;
}
.planets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.planet{
    text-align: center;
    margin-bottom: 30px;
}

header{    
    background: blue;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ships .ship{
    background: burlywood;
    color: black;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}

.ships .ship p{
    padding: 20px;
}

nav{
    background: #64b564;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}


nav a{
    color: black;
    margin: 10px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: all 0.5s;
}

nav a.active,
nav a:hover{
    background: black;
    color: yellow;
    
}

article.planet{
    position: relative;
}

nav{
    position: sticky;
    top: 0;
    z-index: 999;
}


.send-planet{
    margin: auto;
    max-width: 760px;
}

input{
    font-size: 1.25em;
}

.send-planet form button{
    background:burlywood;
    border: 0;
    padding: 10px;
    font-family: "Staatliches", Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    margin-right: 10px;
    cursor: pointer;
    color: #000;
    box-shadow: 5px 5px 5px gray;
    transition: all 1s;
}

.send-planet form button:hover{
    background: hotpink;
    color: #fff;
    box-shadow: 5px 5px 5px green;
    height: 100px;
}

#space-x-banner{
    width: 200px;
    height: 200px;
    background: red;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-image: url(/images/spacex.png);
    background-position: center center;
    background-size: cover;
    box-shadow: 5px 5px 15px red;
    animation: space-x-levitate 3s infinite;
}

@keyframes space-x-levitate{
    0%{
        bottom: 20px;
    }
    50%{
        bottom: 30px;
        box-shadow: 5px 5px 15px green;
    }
    100%{
        bottom: 20px;
    }
}

#modal-welcome-container{
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0,0,0,0.8); */
    backdrop-filter: blur(10px);
}

#modal-welcome{
    background: gray;
    width: 600px;
    height: 600px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

/* Mobile First */

@media (min-width: 576px) {
    .planets .planet{
        flex-basis: 50%;
    }
}

@media (min-width: 768px) {
    header{
        flex-direction: row;
        justify-content: space-between;
    }

    .planets .planet{
        flex-basis: 33.33%;
    }

    .ships .ship{
        flex-direction: row;
    }
    .ships .ship.ship-2{
        flex-direction: row-reverse;
    }
    .ships .ship p{
        font-size: 1.25em;
        text-align: right;
    }
    .ships .ship img,.ships .ship p{
        width: 50%;
    }
}

@media (min-width: 992px) {
    .planets .planet{
        flex-basis: 25%;
    }

    .ships .ship img{
        width: 33.33%;
    }
    .ships .ship p{
        flex-grow: 1;
    }
    
}

