<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>Planetas</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/challenge.css">
</head>
<body>
   <header>
       <h1>Planetas</h1>
       <form action="">
           <input type="text" /><button>Buscar</button>
       </form>
   </header>
   <nav>
        <a href="/">HOME</a>
        <a class="active" href="/planets/list">LISTA DE PLANETAS</a>
        <a href="/planets/new">ENVIA TU PLANETA</a>
    </nav>
   <main >

    



       <section class="planets-detail">
            <h2>Detalle Planeta</h2>
        </section>


   </main>



</body>
</html> 