<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

<body>
  
    <%- include('partials/header') %>

   <main >

    



       <section class="home">
           <center>
            <img src="https://media.giphy.com/media/MXQnyEQwBJ6eTj90L5/giphy-downsized-large.gif" />
            </center>
        </section>


   </main>



</body>
</html> 