<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articule</title>
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod officiis temporibus odit cupiditate explicabo eaque vel assumenda quae ex quia. Maxime pariatur est vitae illo repellat quos, dolore voluptatum quasi.

    <p>
        <a href="/home">Volver (ruta absoluta)</a>
    </p>
    <p>
        <a href="../home">Volver (ruta relativa)</a>
    </p>
</body>
</html>