<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <!-- 
        titular
    -->

    <h1><a href="#footer">Nombre de mi website</a></h1>
    
    
    <h2>Nombre de producto 1</h2>
    
    
    <h2>Nombre de producto 2</h2>

    <hr/>

    <!--  elementos de bloque -->
    <div>
        Elemento de bloque 1
    </div>

    <div>
        Elemento de bloque 2
    </div>

    <hr/>

    <!--  elementos de línea -->
    <span>
        Elemento de línea 1
    </span>

    <span>
        Elemento de línea 2
    </span>

    <!--  
        elementos de línea & bloque (inline-block) 
        block: 100% del contenedor (también le podemos cambiar el width, height)
        inline: tamaño se lo da el contenido (no le podemos cambiar el tamaño)
        inline-block: ocupan el tamaño del contenido, pero le podemos cambiar el ancho y alto
    -->

    <!-- texto -->

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>

    <p>
        Lorem <u>ipsum</u> <b>dolor</b> sit, <em><strong>amet consectetur</strong></em> adipisicing elit.<br/>
        Id, <i>corrupti</i> ex dolore <em>eniam quae</em> eum tenetur consectetur voluptatem minus aperiam provident natus! Ipsa, nisi eum! Consequatur doloremque impedit culpa nulla?
    </p>

    <hr/>

    <!-- listas -->

    <h3>Lista ordenada</h3>
    <ol>
        <li>Manzana</li>
        <li>Banana</li>
        <li>Tomate</li>
    </ol>

    <h3>Lista desordenada</h3>

    <ul>
        <li>Frutilla</li>
        <li>Ananá</li>
        <li>Uva</li>
    </ul>

    <h3>Hipervínculos</h3>

    <a href="article/article-1">Ir al artículo</a> dsa dsa d sa d sa

    <h3>Imágenes</h3>

    <img src="/images/gatito.jpeg" alt="Gatito atigrado" />

    <h3>Semánticas</h3>
    
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/producto">Home</a></li>
        </ul>
    </nav>

    <header>
        <h1><img src="logo  "</h1>
    </header>

    <main>

    <section>
        <h3>Ofertas</h3>
        <article>
            <a href="producto/1"></a>
        </article>
    </section>

    <section>
        <h3>Ofertas</h3>
        <article>
            <a href="producto/1"></a>
        </article>
    </section>

    </main>

    <footer id="footer">
        Pie de la página
    </footer>
    
</body>
</html> 