
<form class='newsletter'>
   <div class="title">LISTA DE CORREO</div>
   <input type="text" /><button type="submit">SUSCRIBIRME</button>
   <div class="error"></div>
   <div class="success">Gracias por suscribirte!</div>
</form>

   <script src="/js/main.js"></script>
   <script src="/js/time.js"></script>
   <script src="/js/search.js"></script>
   <script src="/js/newsletter.js"></script>
