<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
        <main class="profile">
            BIENVENIDX! <u>[NOMBRE]</u><br/>
            [IMAGEN]
        </section>


   </main>

   <div id="space-x-banner"></div>


</body>
</html> 