<header>
    <marquee>
        <h1>🪐 P l a n e t a s 🌏</h1>
    </marquee>
    
</header>
<nav>
     <a href="/">HOME</a>
     <a  href="/planets/list">LISTA DE PLANETAS</a>
     <a href="/planets/create">ENVIA TU PLANETA</a>
 </nav>

 <div class="session-nav">
     <a href="/users/login">LOGIN</a> / <a href="/users/register">REGISTRO</a>

     / <a href="/users/profile">PERFIL</a>
 </div>