.card{
    border: 2px solid pink;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: 200px;;
    transition: all 0.2s ease-in;
    cursor: pointer;
    text-align: center;
}

.card:hover{
    transform: translate(0, -10px);
    box-shadow: 10px 10px 100px pink;
}