<header>
    <h1>Planetas</h1>
    <form action="">
        <input type="text" /><button>Buscar</button>
    </form>
</header>
<nav>
     <a href="/">HOME</a>
     <a  href="/planets/list">LISTA DE PLANETAS</a>
     <a href="/planets/create">ENVIA TU PLANETA</a>
 </nav>